APP_NAME="FitFlow API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=fitflow_gym
DB_USERNAME=fitflow_admin
DB_PASSWORD=fitflow_secure_password

BROADCAST_DRIVER=reverb
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REVERB_APP_ID=fitflow-app
REVERB_APP_KEY=fitflow-key-12345
REVERB_APP_SECRET=fitflow-secret-54321
REVERB_HOST="0.0.0.0"
REVERB_PORT=8080
REVERB_SCHEME=http
